@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-helvetica: 'Helvetica', sans-serif;
  --font-durk: 'Durk', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scroll-behavior: smooth;
}

.font-durk {
  font-family: var(--font-durk);
}

.font-helvetica {
  font-family: var(--font-helvetica);
}

.wp-block-button {
  @apply  grid md:w-fit
}

.wp-block-button a {
  @apply px-8 py-4 bg-primary text-center text-white uppercase tracking-wider transition text-2xl hover:bg-primary/90
}

strong {
  @apply text-primary
}

.size-full img {
  @apply w-full h-full aspect-video object-cover
}